<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>专业推荐</title>
</head>
<body>
{#参考链接：http://www.apesk.com/mbtihd/mbti_all.html#}
<p>&nbsp;&nbsp;美国波士顿大学教授弗兰克·帕森斯的特质因素理论（又称人职匹配理论），是最早的职业辅导理论。理论认为，人与职业相匹配
是职业选择的关键。他认为，每个人都有自己独特的人格模式，每种人格模式的个人都有其相适应的职业类型。</p>
<p>&nbsp;&nbsp;所谓“特质”就是指个人的人格特征，包括能力倾向、兴趣、价值观和人格等；而所谓“因素”则是指在工作上要取得成功所必需具备的条件或资格。
最重要的是，这些特质都是可以通过心理测量工具来加以评量，同样这些因素也是可以通过对工作的分析而了解的。
这样就使得专业规划真正成为一门科学。
</p>
<p>
&nbsp;&nbsp;迈尔斯布里格斯类型指标（MBTI）表征人的性格，是美国心理学家布里格斯和迈尔斯母女凯恩琳·布里格斯
和她的女儿伊莎贝尔·布里格斯·迈尔斯制定的。
这个指标以瑞士心理学家荣格划分的8种类型为基础，加以扩展，形成四个维度，即
</p>
<table border="c">
  <tr>
    <th>维度</th>
    <th>类型</th>
    <th>相对应类型英文缩写</th>
    <th>类型</th>
    <th>相对应类型英文缩写</th>
  </tr>
  <tr>
    <td>（一）</td>
    <td>外倾</td>
    <td>E</td>
    <td>内倾</td>
    <td>I</td>
  </tr>
    <tr>
    <td>（二）</td>
    <td>感觉</td>
    <td>S</td>
    <td>直觉</td>
    <td>N</td>

      </tr>
          <tr>
    <td>（三）</td>
    <td>思维</td>
    <td>T</td>
    <td>情感</td>
    <td>F</td>

      </tr>
          <tr>
    <td>（四）</td>
    <td>判断</td>
    <td>J</td>
    <td>理解</td>
    <td>P</td>
      </tr>

</table>
<p>四个维度如同四把标尺，每个人的性格都会落在标尺的某个点上，这个点靠近那个端点，就意味着个体就有哪方面的偏好。
    如在第一维度上，个体的性格靠近外倾这一端，就偏外倾，而且越接近端点，偏好越强。</p>
<h4>如果您已确定了解了MBTI基本规则，<a href="/index/recommend/major/mbti">点击进入MBTI专业测试</a></h4>

</body>
</html>